build*

CMakeFiles*
.cmake*
*.autosave
*.o
Makefile
cmake_install.cmake
CMakeCache.txt
*.user

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
settings.json
*.exe
libdtmf.so*
*.dll
testapp/libdtmf.h
masterapp/libdtmf.h
slaveapp/libdtmf.h
